.p-0 {
    padding: 0 !important;
}

.rpl {
    text-align: center !important;
    padding: 50px 0px;
    background: #ebeff2;
}

.rpl-btn {
    padding: 0px 50px;
    border: 2px solid #3fd4fb;
    border-radius: 0px;
    transition: 0.4s;
}

.lord-icon-size {
    width: 50px !important;
    height: 50px !important;
}

.rpl-btn:hover {
    background-color: #3fd4fb;
}

/*Modal*/
.rpl-modal-close {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #3fd4fb;
    font-size: 16px;
    border: none;
    margin: 10px;
    cursor: pointer;
    background: #002b46;
}

.rpl-modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rpl-modal-dialog {
    position: relative;
    margin: 15px 0px;
    background: #002b46;
    border: 8px solid #3fd4fb;
    width: 720px;
    overflow-y: auto;
}

@media (min-width: 576px) {
    .rpl-modal-dialog {
        max-width: calc(100% - 10%) !important;
    }
}

@media (max-width: 576px) {
    .rpl-modal-dialog {
        max-width: calc(100% - 10%) !important;
    }
}

.rpl-modal-content {
    padding: 50px;
}

.show-rpl-modal {
    visibility: visible;
    opacity: 1;
}

/*From*/
#msform {
    text-align: center;
    position: relative;
    margin-top: 20px;
    display: none;
}

#msform fieldset {
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative;
}

.form-card {
    text-align: left;
}

#msform fieldset:not(:first-of-type) {
    display: none;
}

#msform input,
#msform textarea,
#msform select {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin: 15px 0px;
    width: 100%;
    box-sizing: border-box;
    background-color: #eceff1;
    font-size: 16px;
    letter-spacing: 1px;
}

#msform input[type="text"],
#msform input[type="email"],
#msform select {
    height: 40px;
}

#msform input:focus,
#msform textarea:focus,
#msform select {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #3fd4fb;
    outline-width: 0;
}

#msform .action-button-next {
    width: 100px;
    background: transparent;
    font-weight: bold;
    color: #f3f3f3;
    border: 2px solid #3fd4fb;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
}

#msform .action-button-next:hover,
#msform .action-button-next:focus {
    background-color: #3fd4fb;
}

#msform .action-button-previous {
    width: 100px;
    background: transparent;
    font-weight: bold;
    color: #f3f3f3;
    border: 2px solid #f3f3f3;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    background-color: #3fd4fb;
    border: 2px solid #3fd4fb;
}

.card {
    z-index: 0;
    border: none;
    position: relative;
}

.fieldlabels {
    color: #f3f3f3;
    text-align: left;
}

.progress {
    background-color: #ebeff2;
    height: 20px;
}

.progress-bar {
    background-color: #3fd4fb;
}

.exp-lbl {
    width: 100%;
    margin: 15px 0px;
    text-align: center;
    padding: 15px;
    color: #fff;
    border: 2px solid #3fd4fb;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.exp-lbl2 {
    color: #002B46 !important;
}

.exp-lbl img {
    max-width: 55px !important;
}

.radio {
    padding: 25px 0px;
}

.radio input[type="radio"] {
    display: none;
}

input[type="radio"]:checked~label {
    background-color: #3fd4fb;
    border: 2px solid #3fd4fb;
}

.files {
    display: none !important;
}

.filesLbl {
    text-align: center !important;
    border: 1px dashed #f3f3f3;
    display: block;
    padding: 25px;
    cursor: pointer;
    color: #fff !important;
    transition: 0.3s ease-in-out;
    margin-top: 35px;
    transition: 0.3s ease-in;
}

.filesLbl2 {
    color: #002B46 !important;
    border: 1px dashed #ccc;
}

.filesLbl:hover {
    background: rgba(255, 255, 255, 0.2);
}

.filesLbl2:hover {
    background: rgba(204, 204, 204, 0.2);
}

/* RESPONSIVE TABLET FIXES */
@media only screen and (max-width: 991px),
only screen and (max-device-width: 991px) {
    .rpl-modal-content {
        padding: 30px;
    }

    #msform input,
    #msform textarea,
    #msform select {
        font-size: 12px;
    }

    .exp-lbl img {
        max-width: 50px !important;
    }
}

/* RESPONSIVE MOBILE FIXES */
@media only screen and (max-width: 767px),
only screen and (max-device-width: 767px) {
    .rpl-modal-content {
        padding: 25px;
    }

    .fieldlabels {
        font-size: 12px;
    }

    #msform input[type="text"],
    #msform input[type="email"],
    #msform textarea,
    #msform select {
        padding: 5px !important;
        font-size: 12px;
    }

    #msform input[type="text"],
    #msform input[type="email"],
    #msform select {
        height: 30px;
    }

    .radio {
        padding: 5px 0px;
    }

    .exp-lbl {
        padding: 10px;
        font-size: 12px;
    }

    .form-card {
        padding: 0;
    }

    .next,
    .previous,
    .submit {
        font-size: 12px !important;
        padding: 5px 20px !important;
    }

    .exp-lbl img {
        max-width: 50px !important;
    }
}

/*
Success
*/
.success {
    display: none;
    text-align: center;
}

.success h2,
.success h4 {
    color: #fff;
}

.show {
    display: block;
}

/*
    Loader
*/
.load-scrn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.load-scrn::after {
    content: "";
}

.load-scrn.visible {
    visibility: visible;
    opacity: 1;
}

.load-scrn h4 {
    padding: 10px 0px;
}

.box {
    width: 100%;
    display: block;
    border: 1px solid #d2d2d2;
    margin: 25px auto;
    padding: 25px;
    position: relative;
}

.box-header {
    width: 100%;
    border-bottom: 2px dotted #ddd;
}

.box-header h3 {
    font-size: 20px;
    color: #002B46;
}

.box-header p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #999;
}

.box-header h3 strong {
    background-color: #002B46;
    text-align: center;
    width: 40px;
    height: 40px;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    line-height: 42px;
    text-align: center;
}

.box-content .form-group label {
    margin: 10px auto;

}

.info-box {
    text-align: center;
    padding: 15px;
    line-height: 2;
    margin: 15px auto;
}

.info-box i {
    font-size: 2.5rem;
}

.info-box h4 {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px;
}
